<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <title th:text="${title}">Articles</title>
    <div th:replace="fragments/header :: header-css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container">
    <div th:replace="this :: content"></div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
