<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:fragment="header-css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-default navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Article<b>App</b></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="/">Статьи</a></li>
                    <li class="nav-item"><a href="/editor">Добавить свою статью</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right ml-auto">
                    <li class="nav-item">
                        <a href="/login"><span class="nav-link"></span>Войти</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/logout}"><span class="nav-link"></span>Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>