<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      th:include="layouts/default :: page">
<body>
<div th:fragment="content">
<br/>
    <!-- Main page. Display of topics -->
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <div th:each="topic : ${topics}">
                <h3 th:text="${topic.title}"/>
                <p th:text="${topic.content}"/>
                <a th:href="@{/topics/editor/delete/} + ${topic.id}">
                        <img border="0" src="https://img.icons8.com/color/48/000000/trash.png" width="30" height="30"/>
                    </a>
                    <hr/>
                </div>
        </div>
    </div>
</div>
</div>
</body>
</html>