<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      th:include="layouts/default :: page">
<body>
<div th:fragment="content">
<br/>
<!-- Main page. Display of articles -->
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
                <div th:each="article : ${articles}">
                    <h3 th:text="${article.title}"/>
                    <p th:text="${article.content}"/>
                    <a th:href="@{/articles/editor/delete/} + ${article.id}">
                        <img border="0" src="https://img.icons8.com/color/48/000000/trash.png" width="30" height="30"/>
                    </a>
                    <hr/>
                </div>
        </div>
    </div>
</div>
</div>
</body>
</html>