<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      th:include="layouts/default :: page">
<body>
<div th:fragment="content">
    <!-- Topic creation -->
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <form action="#" th:action="@{/topics/editor/submit}" th:object="${topic}" method="post">
                <h1>Создание статьи</h1>
                <div class="form-group">
                    <label for="usr">Название</label>
                    <input type="text" class="form-control" id="usr" th:field="*{title}"/>
                </div>
                <div class="form-group">
                    <label for="comment">Текст</label>
                    <textarea class="form-control" rows="20" id="comment" th:field="*{content}"></textarea>
                </div>

                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
            <hr/>
        </div>
    </div>
</div>
</body>
</html>