<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Заглавная страница блога</title>
</head>
<body>
<!-- Navigation bar -->
<div th:insert="parts/navbar :: part"></div>
<br/>
<!-- Main page. Display of articles -->
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <div>
                <div class="well">
                    <div class="panel-body">
                        <h1>Добро пожаловать</h1>
                        <p>
                            C исходным кодом проекта можете ознакомиться
                            <a href="https://github.com/KrupoderovMikhail/articles">
                                <img border="0" src="https://img.icons8.com/windows/96/000000/github.png" width="30"
                                     height="30"/>
                                здесь
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div th:each="article : ${articles}">
                <h3 th:text="${article.title}"/>
                <p th:text="${article.content}"/>
                <a th:href="@{/editor/delete/} + ${article.id}">
                    <img border="0" src="https://img.icons8.com/color/48/000000/trash.png" width="30" height="30"/>
                </a>
                <hr/>
            </div>
        </div>
    </div>
</div>
</body>
</html>