<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      th:include="layouts/default :: page">
<body>
<div th:fragment="content">

<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <div th:each="user : ${users}">
        <tr>
            <td><p th:text="${user.username}"/></td>
<!--            <td><p th:each="user.role : ${roles}"/></td>  Данный участок временно не работает-->
<!--            <td><a href="/user/${user.id}">Изменить</a></td>-->
        </tr>
    </div>
    </tbody>
</table>

</div>

</body>
</html>